---
layout: default
---

<!-- Main -->
<div id="main" class="alt">


<section id="two" class="spotlights">
  {% for post in site.posts %}
	<section>
		<a {% if slide.url %}href="{{ post.url | relative_url }}"{% endif %} class="image">
			<img src="{{ post.image | relative_url }}" alt="" data-position="center center" />
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>{{ post.title }}</h3>
					{% if post.post-date %}<p>{{ post.post-date }}</p>{% endif %}
				</header>
				<p>{{ post.post-comment }}</p>
        {% if post.url %}
        <ul class="actions">
					<li><a href="{{ post.url | relative_url }}" class="button">Подробнее</a></li>
				</ul>
        {% endif %}
			</div>
		</div>
	</section>
  {% endfor %}
</section>
