---
layout: default
---
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
			{% if post.post-date %}<p>{{ post.post-date }}</p>{% endif %}
		</header>
		{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
		<p>{{ content }}</p>
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<div class="addthis_inline_share_toolbox"></div>
		<ul class="actions">
			<li><a href="{{ "news" | relative_url }}" class="button">Все новости</a></li>
		</ul>
	</div>
</section>

</div>
